@{
    var imgPath = Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/logo.png"));
    var img2xPath = Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/logo@2x.png"));
}

<div id="logo">
    <a href="@Href("~/")">
        <img id="logo-desktop" class="visible-desktop" src="@imgPath" data-at2x="@img2xPath" alt="@WorkContext.CurrentSite.SiteName" style="margin-top: 10px; margin-bottom: 10px;">
        <img id="logo-tablet" class="visible-tablet" src="@imgPath" data-at2x="@img2xPath" alt="@WorkContext.CurrentSite.SiteName" style="margin-top: 10px;  margin-bottom: 10px;">
        <img id="logo-phone" class="visible-phone " src="@imgPath" data-at2x="@img2xPath" alt="@WorkContext.CurrentSite.SiteName" style="margin-top: 10px;  margin-bottom: 10px;">
    </a>
</div>