@using Orchard.ContentManagement;
@using Orchard.Tags.ViewModels;

@{
    Script.Require("Sharrre");
    var blogPost = Model.ContentItem;
}

<div class="ui--blog ui--blog-wrapper ui--pass">
    <div class="ui--blog-item clearfix layout--single">
        @Display(Model.Media)
        <div class="ui--blog-content-wrapper">
            <div class="ui--blog-header">
                <h3 class="ui--blog-title entry-title clearfix"><span class="ui--blog-link">@blogPost.TitlePart.Title</span></h3>
            </div>
            <div class="ui--blog-content">
                @Display(Model.Summary)
            </div>
            <div class="ui--blog-metas clearfix">
                <span>
                    <span class="ui--blog-metas-left">
                        <span class="datetime"><time class="entry-date date updated" datetime="@blogPost.CommonPart.CreatedUtc.ToString("yyyy-MM-ddTHH:mm:ss.fffffffZ")">@blogPost.CommonPart.CreatedUtc.ToLocalTime().ToString("MMMM d, yyyy")</time></span>
                        @if (Model.Tags.Items.Count > 0 && ((IEnumerable<ShowTagViewModel>)Model.Tags.Items[0].Tags).Any()) {
                            <span class="ui--blog-separator">/</span>
                            <span class="ui--meta-categories">@Display(Model.Tags)</span>
                        }
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="ui--title ui--animation ui--title-bordered text-left">
        <div class="ui--title-holder">
            <h4 class="ui--title-text"> <strong>@T("Share")</strong> @T("the Post") </h4>
            <div class="ui--title-borders ui--title-border-left"></div>
            <div class="ui--title-borders ui--title-border-right"></div>
        </div>
    </div>

    <div class="ui--sharrre text-center clearfix ui--sharrre-block">
        <div class="ui--sharrre-twitter" data-url="@Request.Url.AbsoluteUri" data-text="@blogPost.TitlePart.Title" data-title="&lt;i class=&#039;fa fa-twitter&#039;&gt;&lt;/i&gt; &lt;span class=&#039;ui--sharrre-link-title&#039;&gt;Tweet&lt;/span&gt;"></div>
        <div class="ui--sharrre-facebook" data-url="@Request.Url.AbsoluteUri" data-text="@blogPost.TitlePart.Title" data-title="&lt;i class=&#039;fa fa-facebook&#039;&gt;&lt;/i&gt; &lt;span class=&#039;ui--sharrre-link-title&#039;&gt;Like&lt;/span&gt;"></div>
        <div class="ui--sharrre-googleplus" data-url="@Request.Url.AbsoluteUri" data-text="@blogPost.TitlePart.Title" data-title="&lt;i class=&#039;fa fa-google-plus-square&#039;&gt;&lt;/i&gt; &lt;span class=&#039;ui--sharrre-link-title&#039;&gt;+1&lt;/span&gt;"></div>
        <div class="ui--sharrre-linkedin" data-url="@Request.Url.AbsoluteUri" data-text="@blogPost.TitlePart.Title" data-title="&lt;i class=&#039;fa fa-linkedin&#039;&gt;&lt;/i&gt; &lt;span class=&#039;ui--sharrre-link-title&#039;&gt;Linkedin&lt;/span&gt;"></div>
        <div class="ui--sharrre-pinterest" data-url="@Request.Url.AbsoluteUri" data-text="@blogPost.TitlePart.Title" data-title="&lt;i class=&#039;fa fa-pinterest&#039;&gt;&lt;/i&gt; &lt;span class=&#039;ui--sharrre-link-title&#039;&gt;Pinterest&lt;/span&gt;"></div>
    </div>

    @Display(Model.Footer)
</div>