@using Orchard.Blogs.Extensions;
@using Orchard.Blogs.Models;

@{
    var dateTimeLocalization = WorkContext.Resolve<Orchard.Localization.Services.IDateTimeFormatProvider>();
    var monthNames = dateTimeLocalization.MonthNames.ToArray();
    Model.ContentItems.Classes.Add("unstyled");

    WorkContext.Layout.BeforeMain.Add(New.Parts_Title(Title: T("Archives").Text + " / " + (string)Model.ArchiveData.Year.ToString() + (string)(Model.ArchiveData.Month > 0 ? " / " + monthNames[Model.ArchiveData.Month - 1] : null) + (string)(Model.ArchiveData.Day > 0 ? " / " + Model.ArchiveData.Day.ToString() : null)), "0");
}

<div class="archive-trail">
    <p>
        @T("Archives") /
        @Html.Link((string)Model.ArchiveData.Year.ToString(), Url.BlogArchiveYear((BlogPart)Model.Blog, (int)Model.ArchiveData.Year))
        @(new MvcHtmlString(Model.ArchiveData.Month > 0 ? string.Format(" / {0}", Html.Link(monthNames[Model.ArchiveData.Month - 1], Url.BlogArchiveMonth((BlogPart)Model.Blog, (int)Model.ArchiveData.Year, (int)Model.ArchiveData.Month))) : ""))
        @(new MvcHtmlString(Model.ArchiveData.Day > 0 ? string.Format(" / {0}", Html.Link((string)Model.ArchiveData.Day.ToString(), Url.BlogArchiveDay((BlogPart)Model.Blog, (int)Model.ArchiveData.Year, (int)Model.ArchiveData.Month, (int)Model.ArchiveData.Day))) : ""))
    </p>
</div>

@Display(Model.ContentItems)