@using Orchard.Search.ViewModels;

@{
    var searchText = new SearchViewModel();
    if (Model.ViewModel != null) {
        searchText = (SearchViewModel)Model.ViewModel;
    }

    WorkContext.Layout.BeforeMain.Add(New.Parts_Title(Title: T("Page Not Found")), "0");
}

<div class="text-center">
    <h1 class="big-title" style="font-size: 60px;">
        <strong>@T("404")</strong> @Html.TitleForPage(T("Not found").ToString())
    </h1>
    <h3>
        @T("The page you are looking for does not exist.")
    </h3>
</div>
<div class="text-center">
    @using(Html.BeginForm("index", "search", new { area = "Orchard.Search" }, FormMethod.Get, new { @class = "searchform" })) { 
        @Html.TextBox("q", searchText.Query, new { placeholder = T("Search") })
        <button type="submit" class="btn btn-primary btn-small">@T("Search")</button>
    }
</div>