@using System.Text.RegularExpressions;

@{
    Script.Require("Flexslider");

    var whiteSpace = new Regex(@"\s+");
}

<div class="widget widget_cloudfw_twitter">
    <h4 class="sidebar-widget-title ui--widget-title">
        <span>@T("Latest Tweets")</span>
    </h4>
    <div class="ui--carousel clearfix" data-options="{&quot;effect&quot;:&quot;slide&quot;,&quot;auto_rotate&quot;:&quot;1&quot;,&quot;animation_loop&quot;:&quot;FALSE&quot;,&quot;arrows&quot;:true,&quot;rotate_time&quot;:0,&quot;animate&quot;:true}">
        <div class="slides">
            @foreach (var tweet in Model.Tweets) {
                string message = tweet.Message;
                <div class="ui--carousel-item ui--twitter-style-default ui--twitter-timeline-wrap ui--animation clearfix">
                    <div class="ui--twitter-timeline clearfix">
                        <div class="ui--twitter-timeline-content ui--box ui--gradient ui--gradient-grey auto-format clearfix">
                            <p>
                                @foreach (string substring in whiteSpace.Split(message)) {
                                    if (substring == string.Empty) {
                                        continue;
                                    }
                                    if (Model.ShowMentionsAsLinks && substring.StartsWith("@")) {
                                        string username = substring.Replace("@", string.Empty);
                                        <a href="http://www.twitter.com/@username" title="segui @username su twitter" rel="external" target="_blank">@substring</a>
                                    }
                                    else if (Model.ShowHashtagsAsLinks && substring.StartsWith("#")) {
                                        string hashTag = substring.Replace("#", string.Empty);
                                        string searchUrl = "http://twitter.com/#!/search?q=%23" + hashTag;
                                        <a href="@searchUrl" title="Search for mentions of @substring on twitter" rel="external" target="_blank">@substring</a>
                                    }
                                    else if (substring.StartsWith("http://")) {
                                        <a href="@substring" title="Open link" rel="external" target="_blank">@substring</a>
                                    }
                                    else {
                                        @substring @T(" ");
                                    }
                                }
                            </p>
                            <div class="ui--twitter-timeline-arrow"><i class="fa fa-caret-down"></i></div>
                        </div>
                        <div class="ui--twitter-timeline-brand clearfix ui--animation" data-fx="fx--fadein-btt">
                            <div class="ui--twitter-timeline-image">
                                <div class="ui--twitter-timeline-image-position">
                                    <a href="http://www.twitter.com/@Model.Username" target="_blank">
                                        <img src="@tweet.Avatar" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="ui--twitter-timeline-user">
                                <a href="http://www.twitter.com/@Model.Username" target="_blank">
                                    <strong class="name">@@@Model.Username</strong>
                                </a>
                                <small class="cap timestamp">
                                    @if (Model.ShowTimestampsAsLinks) {
                                        <a href="http://twitter.com/@tweet.Username/statuses/@tweet.Id" class="muted" target="_blank">@T(tweet.Timestamp)</a>
                                    }
                                    else {
                                        @T(tweet.Timestamp)
                                    }
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
