<div id="top-bar" class="clearfix">
    <div id="top-bar-background">
        <div class="container relative">
            <div id="top-bar-text" class="top-bar-sides abs-left">
                <a href="tel:(916)4141310"><i class="ui--icon fa fa-phone icon-inline-block" style="font-size: 14px; width: 18px; height: 18px; margin-right: 5px;"></i> (916) 414-1310</a>
                <div class="helper--seperator">/</div>
                <a href="@Href("~/contact-us")"><i class="ui--icon fa fa-envelope icon-inline-block" style="font-size: 14px; width: 18px; height: 18px; margin-right: 5px;"></i> @T("Contact Us")</a>
            </div>
            <div id="top-bar-widgets" class="top-bar-sides abs-right">
                <ul id="widget--login-default" class="ui--widget ui--custom-menu opt--on-hover unstyled-all">
                    @if (WorkContext.CurrentUser != null) {
                        <li>
                            <a href="#" class="ui--gradient ui--gradient-grey on--hover hover">
                                Welcome <strong>@WorkContext.CurrentUser.UserName</strong> <i class="fa fa-angle-down px14"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink(T("Change Password").ToString(), "ChangePassword", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl })</li>
                                <li>@Html.ActionLink(T("Logout").ToString(), "LogOff", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl })</li>
                                @if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel)) {
                                    <li>@Html.ActionLink(T("Dashboard").ToString(), "Index", new { Area = "Dashboard", Controller = "Admin" })</li>
                                }
                            </ul>
                        </li>
                    }
                    else {
                        <li>
                            @Html.ActionLink(T("Login").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = (Request.QueryString["ReturnUrl"] ?? Request.RawUrl) }, new { rel = "nofollow", @class = "ui--gradient ui--accent-gradient ui--accent-color on--hover" })
                        </li>
                    }
                </ul>
                <ul id="topbar-social-icons" class="ui-socialbar unstyled ui--widget opt--on-hover style--top-bar ss grey-bevel-gradient effect--fade borderless">
                    <li class="facebook ui--gradient ui--gradient-grey on--hover ui-socialbar-item ui--animation">
                        <div class="ui-socialbar-image ui-socialbar-background"></div>
                        <a href="http://www.facebook.com/pages/Precision-Flight-Controls/196107530417524" class="ui-socialbar-image" target="_blank" title="Facebook"></a>
                    </li>
                    <li class="twitter ui--gradient ui--gradient-grey on--hover ui-socialbar-item ui--animation">
                        <div class="ui-socialbar-image ui-socialbar-background"></div>
                        <a href="http://twitter.com/FlyPFC" class="ui-socialbar-image" target="_blank" title="Twitter"></a>
                    </li>
                    <li class="googleplus ui--gradient ui--gradient-grey on--hover ui-socialbar-item ui--animation">
                        <div class="ui-socialbar-image ui-socialbar-background"></div>
                        <a href="http://plus.google.com/u/0/112219552735621227388" class="ui-socialbar-image" target="_blank" title="GooglePlus"></a>
                    </li>
                    <li class="linkedin ui--gradient ui--gradient-grey on--hover ui-socialbar-item ui--animation">
                        <div class="ui-socialbar-image ui-socialbar-background"></div>
                        <a href="http://www.linkedin.com/company/precision-flight-controls-inc." class="ui-socialbar-image" target="_blank" title="LinkedIn"></a>
                    </li>
                    <li class="youtube ui--gradient ui--gradient-grey on--hover ui-socialbar-item ui--animation">
                        <div class="ui-socialbar-image ui-socialbar-background"></div>
                        <a href="http://www.youtube.com/user/flypfcinc" class="ui-socialbar-image" target="_blank" title="YouTube"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>